<!-- Following Menu -->
<div class="ui large top fixed hidden menu" ng-init="viewHash = 'home'">
	<div class="ui container">
		<a href="#/" class="item"><i class="fa fa-home"></i></a>
		<a href="#/#make-config" class="item"><i class="fa fa-wrench"></i></a>
		<!-- <div class="right menu">
			<div class="item">
				<a class="ui button">Log in</a>
			</div>
			<div class="item">
				<a class="ui primary button">Sign Up</a>
			</div>
		</div> -->
	</div>
</div>
<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui container">
		<div class="ui large secondary inverted pointing menu">
			<a class="toc item">
				<i class="sidebar icon"></i>
			</a>
			<a href="#/" class="item">Home</a>
			<a href="#/#make-config" class="item">Make Config</a>
			<!-- <div class="right item">
				<a class="ui inverted button">Log in</a>
				<a class="ui inverted button">Sign Up</a>
			</div> -->
		</div>
	</div>

	<!-- <div class="ui text container">
		<h1 class="ui inverted header">
			Imagine-a-Company
		</h1>
		<h2>Do whatever you want when you want to.</h2>
		<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
	</div> -->
</div>
